<div class="background">
  <div class="banner-image">
    <div class="content">
      <img src="https://res.cloudinary.com/dnuq1lgqs/image/upload/v1590938985/For_queries_Contact_Harsh_8375818918_2_xj3h8g.png"
           alt="Inner Development through Vedic Wisdom"/>
      <div class="form-container">
        <p></p>
        <input [(ngModel)]="email" [required]="true" placeholder="Email">
        <input [(ngModel)]="number" [required]="true" placeholder="Contact number">
        <button (click)="onSubmit()">Submit</button>
      </div>
    </div>
    <div class="message">Loading Content. Please wait...</div>
  </div>
</div>
